*{
    margin: 0;
    padding: 0;
    font-style: Times;
}

nav {
    background-color: #EF843A;
    display: flex;
    height: 15vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 70%;
    box-sizing: border-box;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    background-color: white;
    padding: 1em 2em 1em 2em;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1em;
}

#logo {
    margin-left: 1em;
    font-size: 2em;
}

section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: #323B3E;
    height: 10vh;
    display: flex;
    align-self: flex-end;
    align-items: center;
    color: #ffff;
}

#ft {
    margin-left: 1em;
}

div.catalogo {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 20%;
}
  
div.catalogo:hover {
    border: 1px solid #323B3E;
}
  
div.catalogo img {
    width: 100%;
    height: auto;
}
  
div.titulo {
    padding: 15px;
    text-align: center;
}

video {
    width: 80%;
    margin-top: 2em;
}

h2{
    display: flex;
    width: 100vw;
    margin-left: 6em;
    margin-top: 2em;
}

.vdo {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8em;
}