body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: white;
    text-align: center;
}

.green-background {
    background-color: green;
    display: flex;
    align-self: center;
    flex-grow: 2;
    height: 50px;
}

.yellow-background {
    background-color: yellow;
    display: flex;
    align-self: center;
    flex-grow: 4;
    height: 50px;
}

.pink-background {
    background-color: fuchsia;
    flex-grow: 1;
}

.blue-background {
    background-color: blue;
    width: 700px;
    height: 100px
}

.red-background {
    background-color: red;
    height: 50px;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 50px;
}

.purple-background {
    background-color: purple;
    height: 80px;
}

#top-container {
    display: flex;
    justify-content:space-between;
    height: 50px;
}

#middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#content2 {
    display: flex;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}