.card {
  width: 30vw;
  height: 5vh;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card:hover{
  background-color: rgb(238, 238, 238);
}

button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

button:hover {
  border: none;
  border-radius: 10px;
}